<!DOCTYPE html>
<html lang="de">

<head>
    <%- include("./partials/head", { title: username}) %>
    <link rel="stylesheet" href="/css/campaign.css">
</head>

<body>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="h4 card-body">
                        Nimm Teil an unserer Aktion und zeige der Welt mit was du dein Eis isst! Mach einen Post oder eine 
                        Story mit unserem<button class="h4 tag" onclick="location.href='#hashtag';"">Hashtag</button>und tagge 
                        uns<button class="h4 tag copyOnClick">@eatleryforfuture</button>und<button class="h4 tag copyOnClick">@<%= username %></button>!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                <button id="hashtag" class="h3 tag copyOnClick">#TastyNotWasty</button>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-sm mx-auto">
                <%- eatleryInstagram %>
            </div>
            <div class="col-sm mx-auto">
                <%- partnerInstagram %>
            </div>
        </div>
    </div>
    <% try { if (lottery.winner) { %>
        <script> const time = <%= lottery.time %></script>

        <!-- winner modal -->

        <%- include("./partials/winner", { type: rewardType }) %>

        <!-- fireworks -->

        <div class="stage-container" style="position: absolute; top: 0; z-index: 10000;">
            <div class="canvas-container">
                <canvas id="trails-canvas"></canvas>
                <canvas id="main-canvas"></canvas>
            </div>
        </div>

        <!-- scripts for fireworks -->

        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/Stage%400.1.4.js'></script>
        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/MyMath.js'></script>
        <script src="/js/fireworks.js"></script>

        
        <script src="/js/campaign.js"></script>

    <% }} catch(e) {console.log(e)} %>

</body>

</html>