<!DOCTYPE html>
<html lang="de">

<head>
    <%- include("./partials/head", { title: username }) %>
    <link rel="stylesheet" href="/css/campaign.css">
</head>

<body>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <p>Schon unseren Tasty Mini probiert? Den gibt's hier bei <a href="https://instagram.com/<%= username %>">@<%= username %></a>!</p>
                <p>Mit jedem Tasty Mini sparen wir mit deiner Hilfe x,xx Gramm CO<sub>2</sub> und x,xx Liter Wasser. Und lecker schmeckt er auch noch!</p>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-sm mx-auto">
                <%- eatleryInstagram %>
            </div>
            <div class="col-sm mx-auto">
                <%- partnerInstagram %>
            </div>
        </div>
    </div>
    <% try { if (lottery.winner) { %>
        <script> const time = <%= lottery.time %></script>

        <!-- winner modal -->

        <%- include("./partials/winner", { type: rewardType }) %>

        <!-- fireworks -->

        <div class="stage-container" style="position: absolute; top: 0; z-index: 10000;">
            <div class="canvas-container">
                <canvas id="trails-canvas"></canvas>
                <canvas id="main-canvas"></canvas>
            </div>
        </div>

        <!-- scripts for fireworks -->

        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/Stage%400.1.4.js'></script>
        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/MyMath.js'></script>
        <script src="/js/fireworks.js"></script>

        
        <script src="/js/campaign.js"></script>

    <% }} catch {} %>

</body>

</html>