<!DOCTYPE html>
<html lang="de">

<head>
    <%- include("./partials/head", { title: username}) %>
    <link rel="stylesheet" href="/css/campaign.css">
</head>

<body>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="h4 card-body">
                        Nimm Teil an unserer Aktion und zeige der Welt mit was du dein Eis isst! Mach einen Post oder eine 
                        Story mit unserem<button class="h4 tag" onclick="location.href='#hashtag';"">Hashtag</button>und tagge 
                        uns<button class="h4 tag copyOnClick">@eatleryforfuture</button>und<button class="h4 tag copyOnClick">@<%= username %></button>!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                <button id="hashtag" class="h3 tag copyOnClick">#TastyNotWasty</button>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-sm mx-auto">
                <%- eatleryInstagram %>
            </div>
            <div class="col-sm mx-auto">
                <%- partnerInstagram %>
            </div>
        </div>
    </div>
    <script> const time = <%= lottery.time %> </script>
    <% try { if (lottery.winner) { %>
        <%- include("./partials/winner", { type: rewardType }) %>
        <script>
            $("#winner").modal({
                backdrop: "static",
                keyboard: false,
            })
        </script>
    <% }} catch {} %>
    <script src="/js/campaign.js"></script>
</body>

</html>