<!DOCTYPE html>
<html lang="de">

<head>
    <%- include("./partials/head", { title: username }) %>
    <link rel="stylesheet" href="/css/campaign.css">
</head>

<body>
    <a id="insta" href="https://instagram.com/eatleryforfuture" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>
    </a>


    <div class="container-fluid">

        <div class="row" id="top-row">
            <div class="col">
                
                <h3 class="ml-4 mb-3"><span class="title-bars">HEY!</span></h3>
                
                <div class="white-bars">
                    <span class=" mt-4">
                        Du hast also Interesse an einer nachhaltigen Zukunft? <b>Wir auch!</b>
                    </span>
                </div>
                <br>
                <div class="white-bars">
                    <span id="welcome-paragraph" class="">
                        Mit unserem essbaren <b>EATlery&reg;</b>-Besteck wirken wir der Wegwerfgesellschaft
                        von heute tatkräftig entgegen.
                        <br>
                        <b>Lass uns dir unsere Vision zeigen!</b>
                    </span>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md" id="zero-waste">

                <div id="spoon-animation" class="ml-3">
                    <img src="/img/spoon-eating-animation.gif" alt="">
                </div>
                <h3 class="mb-3"><span class="title-bars" id="zero-waste-title">ZERO WASTE</span><img id="zero-waste-icon" src="/img/zero-waste-icon.svg" alt=""></h3>
                <div class="white-bars">
                    <span>
                        Mit Löffeln wie unserem <b>EATlery&reg; Mini</b> hier, der aus einer leckeren Getreidemischung gemacht ist, bleibt am Ende des Essens
                        nichts außer dem Wunsch nach einem weiteren Löffel.
                    </span>
                </div>
                <h3 class="mb-3 mt-5 partner"><span class="title-bars">UNSERE PARTNER</span></h3>
                <div class="white-bars partner">
                    <span>
                        Mithilfe Partnern wie <a href="https://instagram.com/eisdiele_um_die_ecke" target="_blank">@eisdiele_um_die_ecke</a>
                        schaffen wir es mit jedem Löffel <span style="color: red">X,XX</span> Gramm CO<sub>2</sub> einzusparen, während wir den Ozean vor
                        einer wachsenden Plastik-Plage schützen.
                        <br>
                        Und das beste? Für dich gibt es einen leckeren Snack zum Nachtisch!
                    </span>
                </div>

            </div>

            <div id="partner-instagram" class="col-md pt-5 mb-5">
                <%- partnerInstagram %>
            </div>
        </div>

        <div class="row">
            <div class="col-md">

                <h3 class="mb-3 ml-5"><span class="title-bars">ÜBER UNS</span></h3>

                <div class="white-bars">
                    <span class="">
                        Wir sind <a href="https://frenvi.de" target="_blank">FRENVI</a>, ein kleines deutsch-indisches Start-Up mit Sitz in Mannheim.
                        <br>
                        Mit unserer Marke EATlery&reg; arbeiten wir an essbarem Besteck (EAT + cutlery), um eine leckere Alternative zu Plastik zu bieten.
                        <br>
                        Wenn wir damit dein Interesse geweckt haben, dann folge doch <a href="https://instagram.com/eatleryforfuture" target="_blank">EATlery&reg; auf Instagram!</a>
                    </span>
                </div>
            </div>
            <div id="eatlery-instagram" class="col-md pt-3">
                <%- eatleryInstagram %>
            </div>
        </div>


    </div>

    <% try { if (lottery.winner) { %>
        <script> const time = <%= lottery.time %></script>

        <!-- winner modal -->

        <%- include("./partials/winner", { type: rewardType }) %>

        <!-- fireworks -->

        <div class="stage-container" style="position: absolute; top: 0; z-index: 10000;">
            <div class="canvas-container">
                <canvas id="trails-canvas"></canvas>
                <canvas id="main-canvas"></canvas>
            </div>
        </div>

        <!-- scripts for fireworks -->

        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/Stage%400.1.4.js'></script>
        <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/MyMath.js'></script>
        <script src="/js/fireworks.js"></script>

        
        <script src="/js/campaign.js"></script>

    <% }} catch {} %>

    <script src="/js/iOSCampaign.js"></script>

    <%- include("./partials/footer") %>
    <%- include("./partials/cookies") %>
</body>

</html>