<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head", { title: username}) %>
    <link rel="stylesheet" href="/css/collab.css">
</head>

<body>
    <%- include("./partials/header") %> 
    <div class="container-fluid mt-4">
        <div class="row my-3">
            <div class="mx-auto">
                <a href="https://www.instagram.com/eatleryforfuture/" target="_blank">
                    <img id="eatlery-logo" class="rounded shadow-sm" src="https://scontent-frx5-1.cdninstagram.com/v/t51.2885-19/s320x320/85127269_242110080122217_6819194630412697600_n.jpg?tp=1&_nc_ht=scontent-frx5-1.cdninstagram.com&_nc_ohc=pkuYXXk_jD8AX8UQiJO&edm=ABfd0MgAAAAA&ccb=7-4&oh=46ef19164d1f956652aeb1cea73201fb&oe=60A197FC&_nc_sid=7bff83">
                </a>
                <img src="/img/collab-x.png">
                <a href="https://www.instagram.com/<%= username %>/" target="_blank">
                    <img id="collab-partner" class="rounded shadow-sm" src="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="h4 card-body">
                        Nimm Teil an unserer Aktion und zeige der Welt mit was du dein Eis isst! Mach einen Post oder eine 
                        Story mit unserem<button class="h4 tag" onclick="location.href='#hashtag';"">Hashtag</button>und tagge 
                        uns<button class="h4 tag copyOnClick">@eatleryforfuture</button>und<button class="h4 tag copyOnClick">@<%= username %></button>!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                <button id="hashtag" class="h3 tag copyOnClick">#TastyNotWasty</button>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-sm mx-auto">
                <%- eatleryInstagram %>
            </div>
            <div class="col-sm mx-auto">
                <%- partnerInstagram %>
            </div>
        </div>
    </div>
</body>

</html>