<!DOCTYPE html>
<html lang="de">
<head>
    <%- include("./partials/head", {title: "Error" }) %>
</head>
<body>
    <%- include("./partials/header") %> 
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="h3"><%= title %></div>
                    </div>
                    <div class="card-body">
                        <%- message %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>