<!DOCTYPE html>
<html lang="de">

<head>
    <%- include("./partials/head", {title: "Home"}) %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include("./partials/header") %>

    <div class="container pb-3">
        <div class="row mb-4">
            <div class="col">
                <a class="btn btn-custom full-width" href="/campaign/<%= user.username %>" target="_blank">
                    <i class="fas fa-bullhorn"></i><span class="ml-2">Meine Kampagne</span>
                </a>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h5>Aktueller Post</h5>
                <div id="current-post-card" class="card">
                    <% media.forEach(post => { %>
                        <% if(post.permalink == user.promotedPost) { %>
                            <% if (post.media_type == "VIDEO") { %>
                                <img class="card-img-top" src="<%= post.thumbnail_url %>">
                            <% } else { %>
                                <img class="card-img-top" src="<%= post.media_url %>">
                            <% } %>
                        <% } %>
                    <% }) %>
                    <a class="card-body btn-custom btn" href="/choose-post">
                        Ändern
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-4">
            <div class="col">
                <h5>Goodie bei Kunden-Gewinn</h5>
                Deine Kunden erhalten 
                <% switch (user.rewardType) {
                    case 1: %>
                        eine Kugel Eis im Becher mit unserem EATlery&reg; Löffel.
                    <% break;
                    case 2: %>
                        eine Portion Sahne auf ihr Eis.
                    <% break;
                    case 3: %>
                        eine extra Kugel Eis.
                    <% break;
                    case 4: %>
                        eine Überraschung. Du kannst dir aussuchen, was sie erhalten werden.
                    <% break; %>
                <% } %>
                <br>
                <div id="preview-button" class="btn btn-custom mt-2">Vorschau</div>
                <a href="/choose-reward" class="btn btn-custom mt-2">Ändern</a>
            </div>

            <%- include("./partials/winner", {type: user.rewardType}) %>
        </div>
        <hr>
        <div class="row mb-4">
            <div class="col">
                <h5>QR-Codes</h5>
                <a class="btn btn-custom mb-2" href="/scanner">Neue QR-Codes scannen</a>
                <br>
                Bereits gescannte QR-Codes: <%= user.qrcodes.length %>
            </div>
        </div>
        <hr>
        <div class="row mb-4">
            <div class="col">
                <h5>Veröffentlichen</h5>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="public-switch">
                    <label class="custom-control-label" for="public-switch"><% if (user.public) { %>Öffentlich<% } else { %>Nicht öffentlich<% } %></label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col">
                <h5>Account löschen</h5>
                <button id="delete-account" class="btn btn-custom-danger">
                    Daten löschen
                </button>
            </div>
        </div>
        <div id="delete-account-modal" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        Sicher, dass du deinen Account unwiderruflich löschen willst?
                        <div class="row">
                            <div class="col">
                                <button id="confirm-delete-account" class="btn btn-custom-danger mt-2 full-width">Löschen</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-custom mt-2 full-width" data-dismiss="modal">Abbrechen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>