<!DOCTYPE html>
<html lang="de">

<head>
    <%- include("./partials/head", {title: "Home"}) %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include("./partials/header") %>

    <div class="container pb-3">
        <div class="row mb-4">
            <div class="col">
                <h5>Aktueller Post</h5>
                <div id="current-post-card" class="card">
                    <% media.forEach(post => { %>
                        <% if(post.permalink == user.promotedPost) { %>
                            <% if (post.media_type == "VIDEO") { %>
                                <img class="card-img-top" src="<%= post.thumbnail_url %>">
                            <% } else { %>
                                <img class="card-img-top" src="<%= post.media_url %>">
                            <% } %>
                        <% } %>
                    <% }) %>
                    <a class="card-body btn-custom btn" href="/choose-post">
                        Ändern
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-4">
            <div class="col">
                <h5>Goodie bei Kunden-Gewinn</h5>
                Deine Kunden erhalten 
                <% switch (user.rewardType) {
                    case 1: %>
                        eine Kugel Eis im Becher mit unserem EATlery&copy; Löffel.
                    <% break;
                    case 2: %>
                        eine Portion Sahne auf ihr Eis.
                    <% break;
                    case 3: %>
                        eine extra Kugel Eis.
                    <% break;
                    case 4: %>
                        eine Überraschung. Du kannst dir aussuchen, was sie erhalten werden.
                    <% break; %>
                <% } %>
                <br>
                <div id="preview-button" class="btn btn-custom mt-2">Vorschau</div>
                <a href="/choose-reward" class="btn btn-custom mt-2">Ändern</a>
            </div>

            <%- include("./partials/winner", {type: user.rewardType}) %>
        </div>
        <hr>
        <div class="row mb-4">
            <div class="col">
                <h5>QR-Codes</h5>
                <a class="btn btn-custom mb-2" href="/scanner">Neue QR-Codes scannen</a>
                <br>
                Bereits gescannte QR-Codes: <%= user.qrcodes.length %>
            </div>
        </div>
        <hr>
        <div class="row mb-4">
            <div class="col">
                <h5>Veröffentlichen</h5>
                <div class="custom-control custom-switch">
                    <input <% if (true) { %>checked<% } %> type="checkbox" class="custom-control-input" id="public-switch">
                    <label class="custom-control-label" for="public-switch"><% if (true) { %>Öffentlich<% } %></label>
                  </div>
            </div>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>