<!DOCTYPE html>
<html lang="de">

<head>
    <%- include("./partials/head", {title: "Home"}) %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include("./partials/header") %>

    <div class="container pb-3">
        <div class="row mb-3">
            <div class="col">
                <h5>Aktueller Post</h5>
                <div id="current-post-card" class="card">
                    <img class="card-img-top" src="https://scontent-frt3-2.cdninstagram.com/v/t51.29350-15/210208126_207797817896770_2669679591951666680_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=8ae9d6&_nc_ohc=GWXOGMY7_fUAX_nyXJp&_nc_ht=scontent-frt3-2.cdninstagram.com&oh=d2556eeeac7bdb86b9b2ed02fa094bee&oe=60F14101">
                    
                    <!-- <img class="card-img-top" -->
                    <%// if (post.media_type == "VIDEO") { %>
                        <!-- src="<%=// post.thumbnail_url %>"> -->
                    <%// } else { %>
                        <!-- src="<%=// post.media_url %>"> -->
                    <%// } %>

                    <a class="card-body btn-light" href="/choose-post">
                        Ändern
                    </a>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <h5>Goodie bei Kunden-Gewinn</h5>
                Deine Kunden erhalten <%=  %>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <h5>QR-Codes</h5>
                Du hast bereits <%=  %> QR-Codes eingescannt.
                <br>
                <a class="btn btn-custom" href="/scanner">Neue QR-Codes scannen</a>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <h5>Veröffentlichen</h5>
                <div class="custom-control custom-switch">
                    <input <% if (true) { %>checked<% } %> type="checkbox" class="custom-control-input" id="public-switch">
                    <label class="custom-control-label" for="public-switch"><% if (true) { %>Öffentlich<% } %></label>
                  </div>
            </div>
        </div>
    </div>

</body>
</html>