<!DOCTYPE html>
<html lang="de">
<head>
    <%- include("./partials/head", { title: "Preis" }) %>
    <link rel="stylesheet" href="/css/reward.css">
</head>
<body>
    <%- include("./partials/header") %> 

    <div class="container">

        <%- include("./partials/progress-bar", { step: 2 }) %>
        
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        Wähle den Preis, den deine Kunden gewinnen können sollen.
                        <br>
                        <br>
                        <%- include("./partials/reward-radios") %>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-custom" href="/scanner">Weiter</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div id="spinner" class="spinner mx-auto" hidden>
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div id="preview">
        <%- include("./partials/winner", { type: 1 }) %>
    </div>
    <script src="/js/reward.js"></script>
</body>
</html>