<!DOCTYPE html>
<html lang="de">

<%- include("./partials/head") %>

	<body>
		<script>
			const host = "<%= process.env.HOST %>"
			const port = <%= process.env.PORT %>
        const instagramUserID = "<%= instagramUserID %>"
		</script>
		<script src="/js/qr-scanner.js" type="module"></script>

		<video hidden id="qr-video" class="centered video" autoplay="true" playsinline="true"></video>

		<%- include("./partials/header") %> 

		<div class="container-fluid">

			<div class="row">
				<div class="col">
					<p class="h3 text-center py-2 my-2 card" id="qr-status"></p>
				</div>
			</div>

			<div class="row">
				<div id="scanner" class="col mb-2">
				</div>
			</div>

			<div class="row">
				<div class="col">
					<a hidden style="background-color: #A2D208; color: white;" href="">
						<p id="ready-card" class="h3 text-center py-2 mb-2 card">
							Alle QR-Codes gescannt? Hier geht's zu Ihrer Webseite
						</p>
					</a>
				</div>
			</div>

		</div>


		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">QR-Codes Scannen</h4>
					</div>
					<div class="modal-body">
						<p>Bitte scannen Sie alle gelieferten QR-Codes. Alle von Ihnen gescannten Codes werden nach dem
							Scan auf eine von uns
							generierte Webseite mit Werbung für Ihren Instagram- und/oder Google-Account führen!</p>
					</div>
					<div class="modal-footer">
						<button id="ok-button" type="button" class="btn" data-dismiss="modal">Okay</button>
					</div>
				</div>
			</div>
		</div>

		<script>
			new bootstrap.Modal(document.getElementById("modal")).show()
		</script>

	</body>

</html>