<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head", { title: "Setup" }) %>
    <link rel="stylesheet" href="/css/setup.css">
    <link rel="stylesheet" href="/css/choose.css">
    <link rel="stylesheet" href="/css/reward.css">
    <link rel="stylesheet" href="/css/scanner.css">
</head>
<body>
    <%- include("./partials/header") %> 
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="progress mb-3">
                    <div class="progress-bar green" style="width: 0%;"></div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div id="setup-header" class="modal-header">
                        <%- include("./partials/setup/header-footer") %> 
                    </div>
                    <div class="card-body">
                        <%- include("./partials/setup/choose-post") %>
                        <%- include("./partials/setup/choose-reward") %>
                        <%- include("./partials/setup/scanner") %>
                        <%- include("./partials/setup/confirm-and-publish") %>
                    </div>
                    <div id="setup-footer" class="modal-footer">
                        <%- include("./partials/setup/header-footer") %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="campaign-preview" data-username="<%= username %>" hidden>
        <button id="close-preview-button" class="btn border rounded shadow-sm">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="/js/confirm-and-publish.js"></script>
    <script src="/js/setup.js"></script>
    <script src="/js/choose.js"></script>
    <script src="/js/reward.js"></script>
    <script src="/js/scanner.js" type="module"></script>
</body>
</html>