<div class="col">
    <div class="input-group mb-1">
        <div class="input-group-prepend fixed-width">
            <div class="input-group-text fixed-width">Username</div>
        </div>
        <div class="form-control text-right username">
            <span style="opacity: .5;">https://instagram.com/</span><%= user.username %>
        </div>
        <div class="input-group-append">
            <a class="btn btn-custom border" target="_blank" href="<%= " https://instagram.com/" +user.username %>">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <div class="input-group mb-1">
        <div class="input-group-prepend fixed-width">
            <div class="input-group-text fixed-width">Promoted Post</div>
        </div>
        <div class="form-control text-right">
            <% if (user.promotedPost) { %>
                <%= user.promotedPost %>
            <% } else { %>
                Dynamisch der neuste Post auf Instagram
            <% } %>
            </div>
        <div class="input-group-append">
            <a class="btn btn-custom border" target="_blank" href="<% if (user.promotedPost) { %><%= user.promotedPost %><% } else { %>https://www.instagram.com/<%= user.username %><% } %>">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <div class="input-group mb-1">
        <div class="input-group-prepend fixed-width">
            <div class="input-group-text fixed-width">Campaign Website</div>
        </div>
        <div class="form-control text-right">
            <%= process.env.HOST + "/campaign/" + user.username %>
        </div>
        <div class="input-group-append">
            <a class="btn btn-custom border" target="_blank" href="<%= "/campaign/" + user.username %>">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <div class="input-group mb-1">
        <div class="input-group-prepend fixed-width">
            <div class="input-group-text fixed-width">Total Scans</div>
        </div>
        <div class="form-control text-right">
            <%= user.nrOfScans %>
        </div>
    </div>

    <div class="input-group mb-1" id="qrcode-single">
        <div class="input-group-prepend fixed-width">
            <div class="input-group-text fixed-width">QR-Codes</div>
        </div>
        <div class="form-control text-right">
            <% if (user.qrcodes.length > 0) { %>
                <%= user.qrcodes.length %>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-custom border" onclick="document.getElementById('qrcode-single').hidden = true; document.getElementById('qrcode-all').hidden = false">
                        Alle anzeigen
                    </button>
                </div>
            <% } else { %> 
                Keine QR-Codes registriert </div>
            <% } %> 
    </div>

    <div hidden id="qrcode-all">
        <% var i = 1 %> 
        <% user.qrcodes.forEach(qrID => { %>
            <div class="input-group mb-1">
                <div class="input-group-prepend fixed-width">
                    <div class="input-group-text fixed-width">QR-Code #<%= i %> </div>
                </div>
                <div id="<%= qrID %>" class="form-control text-right" data-state="id">
                    <%= qrID %>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-custom border" onclick="toggleQrcode('<%= qrID %>')">
                        <i class="fas fa-qrcode"></i>
                    </button>
                </div>
                <form class="input-group-append" action="/admin/qrcode/download" method="POST">
                    <input hidden type="text" name="qrcodes" value="[&quot;<%= qrID %>&quot;]">
                    <button class="btn btn-custom border" type="submit">
                        <i class="fas fa-file-download"></i>
                    </button>
                </form>
            </div>
            <% i++ %> 
        <% }) %>
    </div>

    <form action="/admin/user/delete" method="POST">
        <input hidden type="text" name="username" value="<%= user.username %>">
        <button class="btn btn btn-custom-danger float-right mt-2">Löschen</button>
    </form>
</div>